//- extends ./index.pug

//- block variables
//-     - const titleName = 'Hello PUG'
//-     - const flag = true

//- block content
//-     h2.first Second uncluding using block syntacsis
//-         p Hello world!!!! This is second including